/* Auth nav-var */

.authContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* nav-var */

.auth-nav-var {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
}

.auth-nav-var-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-nav-var-left span {
  margin-left: 10px;
}

.auth-nav-var-left-right {
  display: flex;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}
.auth-nav-var-left-right div:first-child {
  margin-right: 5px;
}

/* AuthForm (로그인계정)*/
.auth-container {
  text-align: center;
}
.authInput {
  text-align: start;
  max-width: 320px;
  width: 80%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
  font-size: 14px;
  color: black;
}
.auth-save-account {
  margin-right: 170px;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  cursor: pointer;
  margin-top: 8px;
}

.authContainer input {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.error_message {
  margin-top: 10px;
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: black;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

.authForm-find {
  font-size: 12px;
  width: 70%;
  margin-bottom: 13px;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
}
.authForm-find span:first-child {
  color: black;
  opacity: 0.8;
}
.authBtns {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin-top: 10px;
}

.authBtn {
  margin: 0px 10px;
  cursor: pointer;
  border-radius: 3px;
  padding: 13px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-check {
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 12px;
}

.auth-forgetPassword {
  border-bottom: 1px, solid black;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
