.navigation-nav {
  width: 320px;
}
.navigation-ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.navigation-li div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation-li div img {
  border-radius: 100%;
  width: 70px;
}
.navigation-li div span {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.navigation-ul li:nth-child(2) {
  margin-top: 8px;
}
