.navigation-ul {
  background-color: rgb(116, 202, 254);
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 10px;
}
.navigation-ul span {
  font-size: 15px;
  color: white;
}

#nav-fatwitter-icon {
  color: white;
  font-size: 25px;
}

.navigation-li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navigation-ul li:nth-child(3) img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
