.factoryForm {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.nweet-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
  width: 300px;
  height: 60px;
  background-color: rgb(15, 15, 15);
  padding: 20px;
}
.nweet-ul {
  color: white;
  font-size: 20px;
}

/*트윗 작성칸*/
.factoryInput__container {
  width: 300px;
  height: 120px;
  text-align: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.factoryInput__input {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 60px;
}
.nweetfactory-imgAndPhoto {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}
.nweetfactory-imgAndPhoto input {
  background-color: rgb(0, 145, 234);
  color: white;
  width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin-top: -20px;
  margin-right: 8px;
  cursor: pointer;
}
.nweetfactory-imgAndPhoto span {
  cursor: pointer;
}

/*내가작성한 트윗목록 title*/
.nweetList {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: -50px;
}
.nweetList i {
  margin-left: 5px;
}

/*작성한 트윗터목록*/
.nweet-creation-screen {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  height: 160px;
  text-align: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.nweet-creation-screen_userAndProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  left: -15px;
}
.nweet-creation-screen_profileImg {
  width: 40px;
  border-radius: 100%;
}
.nweet-creation-screen_userAndProfile h4 {
  margin-left: 5px;
  font-weight: 700;
  font-size: 15px;
}
.nweet-creation-screen_email {
  text-align: center;
  opacity: 0.2;
}
.nweet-creation-screen_text {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nweet__actions {
  text-align: end;
  color: tomato;
  margin-right: 15px;
}
.nweet__actions span:first-child {
  margin-right: 10px;
  color: rgb(116, 202, 254);
}

.nweet-creation-screen_attachmentURL {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 0;
  bottom: 20px;
}

/*사진추가하면 display*/
.factoryForm__attachment img {
  width: 80px;
  height: 70px;
  margin-bottom: 10px;
}

.factoryForm__attachment {
  text-align: start;
}

/*글 수정하는 화면*/
.nweetList {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.nweetEdit {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nweetEdit-updateAndCancle {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}
.nweetEdit-updateAndCancle input {
  padding: 3px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgb(116, 202, 254);
  color: white;
}
.nweetEdit-cancle {
  padding: 3px;
  border-radius: 10px;
  background-color: tomato;
  color: white;
}
