.profile-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.profilePhoto {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  left: 0px;
  top: 10px;
  z-index: 1;
}
.profile-profile {
  text-align: start;
  width: 100px;
  margin-top: 60px;
  margin-left: -20px;
}
.profileModify {
  width: 100%;
  text-align: end;
  font-weight: 600;
}

.profileModify span {
  border: 1px solid rgb(116, 202, 254);
  border-radius: 10%;
  padding: 5px;
  color: rgb(116, 202, 254);
}

.profile-centerTileBox {
  width: 100%;
}
.profile-centerTile {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/*프로필 변경화면*/
.profile-mainscreen {
  margin-top: 40px;
  height: 200px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.profileForm {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profileInput {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-left: 15px;
}
.profileInput2 {
  width: 60px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 30px;
  margin-right: 10px;
}

.profileChangeBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 8px;
}
#profileChangeBoxIcon {
  margin-left: 10px;
}

.logOutBox {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.logOut {
  margin-right: 1px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 40px;
  color: white;
  background-color: rgb(116, 202, 254);
}
.profile-bottomTitle {
  font-size: 20px;
  opacity: 0.6;
  margin: 30px 0px;
}

.profile-mytweet {
  background-color: rgb(116, 202, 254);
  padding: 10px;
  color: white;
  border-radius: 18px;
}
