@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

/*App.js*/
.Loading_message {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}

.no-mobile {
  background-color: white;
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}
@media screen and (max-width: 800px) {
  .no-mobile {
    display: none;
  }
}
